src/main/mule/shippingservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:solace="http://www.mulesoft.org/schema/mule/solace" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/solace http://www.mulesoft.org/schema/mule/solace/current/mule-solace.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<solace:config name="Solace_PubSub__Connector_Config" doc:name="Solace PubSub+ Connector Config" doc:id="0e1eb37d-edd8-4f6b-a40a-66d9f2d6d0ef" >
		<solace:connection brokerHost="tcps://mr-connection-bpeyke548a8.messaging.solace.cloud:55443" clientUserName="solace-cloud-client" password="442ke0mile3tcne4copdhdul0u" msgVPN="solace-development"/>
		<solace:event-portal-config cloudApiToken="eyJhbGciOiJSUzI1NiIsImtpZCI6Im1hYXNfcHJvZF8yMDIwMDMyNiIsInR5cCI6IkpXVCJ9.eyJvcmciOiJzb2xhY2V1c2VycyIsIm9yZ1R5cGUiOiJFTlRFUlBSSVNFIiwic3ViIjoidWtzdWRtMzJnZnciLCJwZXJtaXNzaW9ucyI6IkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBUUFBRUFJQUFBSkFLcmdaUWZBUUFBQUFBQUFBQUFCQT09IiwiYXBpVG9rZW5JZCI6InJhNDkyM2JmbWoyIiwiaXNzIjoiU29sYWNlIENvcnBvcmF0aW9uIiwiaWF0IjoxNjc0MjU0ODA1fQ.OGI8ytRztakLJCfmjJtBK5jHXgX9_NxkoWtRaeSLaT6mrVyDelHoU3-2N5n_GmXD8SQvCKR9MXxLx5-Djhu93hGVWgZU-IsFtLg06XfAjPtW60X9eMNa5Uim8KIdhbosBOmjetgP24Rhb1f2bDlmpcf7KLhsVtqndyYZSAqupH8UzvrJTG8M96K2wjCUMClBLJHZQ-uawXmRIbFsnrkABMYSl3f4ffOQSoK4vk7DiJkbntj88d92ZWIepJ0BC70KtoGt5pKPDcRj-raA48--iqW9DH-tY3om60t1gT0-zXpDurwDiITJsr9YQDE5-OIIfC3ntEWGp7rHCha7hnR0kA"/>
	</solace:config>
	<global-property doc:name="Global Property" doc:id="22f5f33e-69da-422d-aa88-f9169587baf8" name="epApplicationVersionId" value="no95i2vlifo" />
	<flow name="Ingress.SHIPPING.CATALOGUE.queue" doc:id="7850962a-e105-49cf-9cde-996f8e7f931b">
		<solace:queue-listener doc:name="SHIPPING.CATALOGUE Listener" doc:id="86fdbc1e-6d3e-4b06-bfd0-ce77a9248a75" config-ref="Solace_PubSub__Connector_Config" address="SHIPPING.CATALOGUE" ackMode="AUTOMATIC_ON_FLOW_COMPLETION"/>
		<json:validate-schema doc:name="Validate JSON schema" doc:id="1f7c450f-f1d9-47ed-bacd-a8715fab8ea7" schema="schemas\shipping.avro.1.0.1.json">
		</json:validate-schema>
		<http:request method="GET" doc:name="Request to Solace Otel collector" doc:id="5f4ca958-37b4-4151-bf6e-e0a1aee2f94d" />
		<flow-ref doc:name="Business Logic" doc:id="f96a5ea8-b8e5-4d56-bee4-22e54cf01e6b" name="BizLogic.SHIPPING.CATALOG.queue" />
	</flow>
	<flow name="Ingress.SHIPPING.CUSTOMER.queue" doc:id="1ed01e10-b279-456e-addb-90c516c97389">
		<solace:queue-listener address="SHIPPING.CUSTOMER" doc:name="SHIPPING.CUSTOMER Listener" doc:id="66d69b15-0c58-42cb-8a25-56a297a6bd9f" config-ref="Solace_PubSub__Connector_Config" />
		<xml-module:validate-schema doc:name="Validate XML schema" doc:id="b9dfa8c9-ac23-4a29-934f-9b9c06545493" />
		<flow-ref doc:name="Business Logic" doc:id="f6378c9b-432f-46cc-91f0-b119c6ce4eac" name="BizLogic.SHIPPING.CUSTOMER.queue" />
	</flow>
	<sub-flow name="BizLogic.SHIPPING.CATALOG.queue" doc:id="1abb0a58-8945-446f-8054-f54ca3b4e17a" >
		<ee:transform doc:name="Transform Message" doc:id="5f2f01b3-ae85-491f-bfbf-618ed84a28d8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Connect this to the correct egress flow" doc:id="4d8e3a89-84fc-4904-9346-00c9008c4c07" name="BizLogic.SHIPPING.CATALOG.queue" />
	</sub-flow>
	<sub-flow name="BizLogic.SHIPPING.CUSTOMER.queue" doc:id="3b2058b2-2276-4f70-9576-c942cab17cf8">
		<ee:transform doc:name="Transform Message" doc:id="a34dbaf0-ae1c-4822-b12e-c3a0d405f1be">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Connect this to the correct egress flow" doc:id="82b4f5e6-e0f1-4f34-8f98-37171cad44ca" name="BizLogic.SHIPPING.CATALOG.queue" />
	</sub-flow>
	<sub-flow name="Egress.ShipmentCreated.topic" doc:id="f3f6a40f-3210-4e74-9689-afd497285c5b">
		<set-variable value="" doc:name="Generate Dynamic Topic" doc:id="bf1b7e4f-7d7b-4734-9a31-c1a70b0b215e" variableName="something" />
		<xml-module:validate-schema doc:name="Validate schema" doc:id="d86e7d62-408c-45ec-b16d-011cd5fa468f" />
		<json:validate-schema doc:name="Validate schema" doc:id="4eb33b06-dbfa-467b-82ce-88ebb0695c3c" >
			<json:contents ><![CDATA[{"namespace": "io.confluent.examples.streams.avro.microservices",
 "type": "record",
 "name": "Shipping",
 "fields": [
     {"name": "id", "type": "string"},
     {"name": "customerId", "type": "long"},
     {"name": "trackingNumber", "type": "int"}
 ]
}]]></json:contents>
		</json:validate-schema>
		<solace:publish doc:name="Publish Shipment Created Event" doc:id="7dab843a-04d8-45f0-a3e5-41a691156129" config-ref="Solace_PubSub__Connector_Config" address='#["acmeretail/shipping/shipment/created/v1/"regionId/statusId/shipmentId]' destinationType="QUEUE">
			<solace:message messageType="TEXT_MESSAGE" />
		</solace:publish>
	</sub-flow>
	<sub-flow name="Egress.ShipmentUpdated.topic" doc:id="27d86730-6a83-46c8-a486-fabcae47755b" >
		<set-variable value="" doc:name="Generate Dynamic Topic" doc:id="2bfc6a2b-de3c-4cdf-bc3b-32eb2ccf3c76" variableName="something" />
		<xml-module:validate-schema doc:name="Validate schema" doc:id="8b10ca24-658b-480b-9899-0e649ffe3b23" />
		<json:validate-schema doc:name="Validate schema" doc:id="912379b7-3833-4398-81d5-774c1739a26e" >
			<json:contents ><![CDATA[{"namespace": "io.confluent.examples.streams.avro.microservices",
 "type": "record",
 "name": "Shipping",
 "fields": [
     {"name": "id", "type": "string"},
     {"name": "customerId", "type": "long"},
     {"name": "trackingNumber", "type": "int"}
 ]
}]]></json:contents>
		</json:validate-schema>
		<solace:publish address="acmeretail/shipping/shipment/created/v1/regionId/statusId/shipmentId" doc:name="Publish Shipment Updated Event" doc:id="652a15a5-8bfd-49df-92e4-26ea7d73bcc6" config-ref="Solace_PubSub__Connector_Config" >
			<solace:message messageType="TEXT_MESSAGE" />
		</solace:publish>
	</sub-flow>
</mule>
